# API
PETSTORE_BASE_URL=https://petstore.swagger.io/v2

# Web
SAUCEDEMO_BASE_URL=https://www.saucedemo.com
SAUCEDEMO_USER=standard_user
SAUCEDEMO_PASSWORD=secret_sauce

# Selenium
BROWSER=chrome
HEADLESS=false
IMPLICIT_WAIT=10
